### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
str = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
print(str.count("row"))

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [1]:
n = input("write a name ")
c = input("write a color ")
a = input("write an animal ")

write a name 2
write a color e
write an animal d

In [2]:
print("{0} had a little {2}.\n It was {1} as snow.\n And everywhere that {0} went, the {2} was sure to go.".format(n, c, a))

2 had a little d.
 It was e as snow.
 And everywhere that 2 went, the d was sure to go.

3. Print 3.14159 in a scientific number notation

In [1]:
print(f"{3.14159:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [3]:
print(f"{3.1559:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [4]:
print(f"{1589.92341:.3e}")

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [5]:
print(39 // 2)
print(39 % 2)

19
1

In [6]:
print(19 // 2)
print(19 % 2)

9
1

In [7]:
print(9 // 2)
print(9 % 2)

4
1

In [8]:
print(4 // 2)
print(4 % 2)

2
0

In [9]:
print(2 // 2)
print(2 % 2)

1
0

In [10]:
print(1 // 2)
print(1 % 2)

0
1

In [12]:
print(0b100111)

39

In [14]:
print(int(0b100111))
print(bin(39))

39
0b100111

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [18]:
x = 39 // 8
y = 39 % 8
print(x, y)

4 7

In [23]:
print(4 // 8)
print(4 % 8)

0
4

In [24]:
ans = 0o47
print(int(ans))
print(oct(39))

39
0o47

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [14]:
x = bool('')
y = bool(' ')
z = bool(0)
print(x,y,z)

False True False

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [25]:
amount = float(input("Enter an amount: "))
rate = float(input("Enter a tax rate (percentage): "))

Enter an amount: 2500
Enter a tax rate (percentage): 10.5

In [26]:
tax_amount = amount * (rate/100)
total = amount + tax_amount
print(f"Amount:\t${amount:,.2f}\nTax:\t${tax_amount:,.2f}\nTotal:\t${total:,.2f}")

Amount:	$2,500.00
Tax:	$262.50
Total:	$2,762.50